@model CustomerShop

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutDash.cshtml";
}


<!-- Header -->
<div class="header pb-6 d-flex align-items-center" style="min-height: 500px;
        background-image: url('../assetsdash/img/theme/profile-cover.jpg');
       
        background-size: cover;
        background-position: center top;">
    <!-- Mask -->
    <span class="mask bg-gradient-default opacity-8"></span>
    <!-- Header container -->
    <div class="container-fluid d-flex align-items-center">
        <div class="row">
            <div class="col-lg-7 col-md-10">
                <h1 class="display-2 text-white">Hello @Model.ShopName</h1>
                <p class="text-white mt-0 mb-5">This is your profile page. You can set the datails about your company so that users can trust you with to deliver on any purchase made.</p>
            </div>
        </div>
    </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--6">
    <div class="row">
        <div class="col-xl-12 order-xl-1">
            <div class="card">
                <div class="card-body">
                    <form asp-action="Update">
                        <input type="hidden" asp-for="ShopId" />
                        <h6 class="heading-small text-muted mb-4">Company information</h6>
                        <div class="pl-lg-4">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="ShopName">Shop Name</label>
                                        <input type="text" class="form-control" asp-for="ShopName">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label">Shop Email</label>
                                        <input asp-for="ShopEmail" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label asp-for="ShopPhone" class="control-label"></label>
                                        <input asp-for="ShopPhone" class="form-control" />
                                        <span asp-validation-for="ShopPhone" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label asp-for="ShopLink" class="control-label"></label>
                                        <input asp-for="ShopLink" class="form-control" />
                                        <span asp-validation-for="ShopLink" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="my-4" />
                        <!-- Address -->
                        <h6 class="heading-small text-muted mb-4">Address information</h6>
                        <div class="pl-lg-4">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label asp-for="ShopCountry" class="control-label"></label>
                                        <input asp-for="ShopCountry" class="form-control" />
                                        <span asp-validation-for="ShopCountry" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label asp-for="ShopRegistrationNumber" class="control-label"></label>
                                        <input asp-for="ShopRegistrationNumber" class="form-control" />
                                        <span asp-validation-for="ShopRegistrationNumber" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="form-control-label">Shop Address</label>
                                        <textarea rows="4" asp-for="ShopAddress" class="form-control"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="my-4" />
                        <!-- Description -->
                        <input type="submit" value="Save" class="btn btn-block btn-primary" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
